.history-item__langs {
    display: flex;
    gap: 16px;
}

.history-item__words {
    margin-top: 16px;
}

.history-item__lang {

}

.history-item__input {

}

.history-item__answer {
    color: rgba(5, 5, 5, 0.4);
}
